= form_with(model: workshop, local: true) do |form|
  - if workshop.errors.any?
    #error_explanation
      %h2
        = pluralize(workshop.errors.count, "error")
        prohibited this workshop from being saved:
      %ul
        - workshop.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :workshop_title
  .field
    = form.label :description
    = form.text_area :description, id: :workshop_desc
  .field
    = form.label :place
    = form.text_field :place
  .actions
    = form.submit
