.page-header
  %h1 Coach
%p
  %strong Name :
  = @coach.name
%p
  %strong Email :
  = @coach.email
= link_to 'Back', coaches_path, class: 'btn btn-default'

= link_to 'Edit', edit_coach_path(@coach), class: 'btn btn-default'

= link_to 'Delete', coach_path(@coach), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'
